@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    font-size: 1.9em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: rgb(138, 43, 226);
}

nav a {
    text-decoration: none;
    margin-left: 40px;
    color: rgb(76, 115, 233);
    font-size: 1.1em;
    font-weight: 700;
}
nav a:hover {
    color: rgb(138, 43, 226);
}
.main {
    width: 100%;
    min-height: 100vh;
    background: url(./magicpattern-blob-1650218808872.svg) no-repeat;
    background-position: right;
    background-size: 45%;
    background-position-y: 38%;
}
section {
    padding: 180px 200px;
}
.main h2 {
    font-size: 1.4em;
    font-weight: 600;
}
.main h2 span {
    display: inline-block;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
@keyframes btn {
    0% {transform: scale(1);}
    50%{transform: scale(1.08);}
    100%{transform: scale(1);}
}
.main-btn {
    color: #fff;
    text-decoration: none;
    background-color: rgb(76, 115, 233);
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9em 2em;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
    animation-name: btn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  box-shadow: 2px 5px 15px gray;
  transition: 0.7s ease;
}
.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-icons a {
    font-size: 1.7em;
    margin-right: 30px;
    color: black;
}
.title {
    color: rgb(76, 115, 233);
    text-align: center;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 30px;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.content .card {
    background-color: #fff;
    width: 16em;
    padding: 25px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px gray;
    transition: all 0.7s ease;
}
.content .card:hover {
    transform: scale(1.1);
}
.icon {
    font-size: 5em;
    text-align: center;
    color: rgb(76, 115, 233);
}
.info {
    text-align: center;
}
.info h3 {
    color: rgb(76, 115, 233);
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: 700;
    margin: 10px;
}
.skills-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.skills-content i {
    font-size: 10em;
    color: rgb(76, 115, 233);
    margin: 80px;
    transition: 0.7s ease;
}
.skills-content i:hover {
    transform: scale(1.1);
}
.skills-content h3 {
    text-align: center;
    margin-top: -50px;
    font-weight: 600;
    font-size: 1.5em;
}
.projects-card {
    background-color: #fff;
    box-shadow: 0 5px 15px gray;
    min-height: 14em;
    width: 15em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.projects-card-image img {
    width: 100%;
}
.projects-card:hover {
    transform: scale(1.1);
}
.projects-card .projects-card-image:hover {
    opacity: 0.8;
}
.projects-card-info {
    padding: 1em;
}
.projects-card-info h3 {
    font-size: 0.8em;
    color: #000;
}
.projects-card-title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 800;
}
.projects-card-title a {
    text-decoration: none;
    color: rgb(138, 43, 226);
}
.projects-card-title:hover a {
    color: rgb(76, 115, 250);
}
.cards-contact .icon{
    font-size: 4.5em;
}

.cards-contact .info h3 {
    color: #000;
}

.cards-contact .info p {
    font-size: 1.1em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.2em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
    color: #fff;
}
@media (max-width:1023px){
    header{
        padding: 10px 15px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main div {
        margin: 42px 24px;
    }

    .main h2{
        font-size: 1em;
    }

    .main h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
    .cards-contact .info p {
        font-size: 1em;
    }
}

@media (max-width: 480px){
    body{
        font-size: 10px;
    }

    .main-content h2{
        font-size: 0.5em;
    }

    .main-content h3{
        font-size: 1em;
    }

    .main {
        background: none;
    }

    nav a{
        padding-left: 10px;
        margin-left: 15px;
    }

    .project-link{
        display: none;
    }
}

@media (max-width: 620px) {
    .project-link{
        display: none;
    }

    nav a{
        padding-left: 10px;
        margin-left: 15px;
    }
}

@media (max-width: 590px) {
    .main {
        background: none;
    }
}

@media (max-width:326px){
    body{
        font-size: 8px;
    }
    .main {
        background: none;
    }
    nav a {
        margin-left: 10px;
    }
}
